/* Base total para informação */
.informacao {
    width: auto;
    height: 100em;
    
    position: inherit;
    background-color: tomato;
}
/* divisão de áreas */
.info_como_ajudar {
    width: auto;
    height: 40em;
    position: relative;
    box-sizing: border-box;
    background-color:rgb(99, 184, 233);
}