/* Link da fotógrafa na foto fixa (topo) */
.link_foto_fixa--monique_karla {
    width: 13em;
    height: 1.5em;
    font-family: inherit;
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 40em;
    left: 65em;
    box-sizing: border-box;
}
.link_foto_fixa--monique_karla a:link {
    color: rgb(184, 184, 184);
}
.link_foto_fixa--monique_karla a:visited {
    color: rgb(184, 184, 184);
}
.link_foto_fixa--monique_karla a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.link_foto_fixa--monique_karla a:focus {
    color: #FFFFFF;
}
/* Link da fotógrafa na área de -- NOTÍCIA 001 */
.link_img-noticia_001--monique_karla {
    width: 13em;
    height: 1.5em;
    font-family: inherit;
    font-size: .9rem;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 22em;
    right: 31em;
    box-sizing: border-box;
}
.link_img-noticia_001--monique_karla a:link {
    color: #FFFFFF;
}
.link_img-noticia_001--monique_karla a:visited {
    color: #FFFFFF;
}
.link_img-noticia_001--monique_karla a:hover {
    color: #000000;
    text-decoration: none;
}
.link_img-noticia_001--monique_karla a:focus {
    color: #FFFFFF;
}